name: CI

# We run CI on every push
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

# Automatically cancel running workflows when there's a new one
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  contents: read
  packages: read

jobs:
  typecheck:
    name: Typechecker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - run: bun install --frozen-lockfile
      - run: bun run typecheck
